body {
  font-family: "Raleway", sans-serif;
  
  font-size: 14px;
  font-style: normal;
  color: #2f303a;
  background-color: #ffffff;
}
:root {
  --var-color-text: #757575;
  --var-color-fondo-hover-focus: #2196f3;
  --var-colo-text-hover-focus: #ffffff;
  --var-color-fondo: #2f303a;
  --var-color-fondo1: #f5f4fa;
}
ul {
  list-style: none;
}
.title {
  font-family: "Raleway";
  font-size: 26px;
  color: #2196f3;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.link-1 {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.email {
  color: #2196f3;
  text-decoration: none;
}
.contact {
  font-family: "Roboto";
  line-height: 0.785;
  text-decoration: none;
  color: #757575;
}

.top {
  font-family: "Roboto";
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button-index {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 0.53;
  color: #ffffff;
  cursor: pointer;
  width: 261px;
  height: 50px;
  background: #2196f3;
}
.specialties {
  font-family: "Roboto";
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.text {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 0.58;
  color: #757575;
}
.equipment {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 0.76;
  color: #212121;
}
.name {
  font-size: 16px;
  color: #212121;
}
.job {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 0.84;
  color: #757575;
}
.link-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
  line-height: 1, 625;
  text-decoration: none;
}
.link2 {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.link3 {
  font-family: "Roboto";
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.background {
  width: 1600px;
  left: -4px;
  top: 80px;
  background: #2f303a;
}
.container-ftr {
  left: 0px;
  top: 2158px;
  background: #2f303a;
}
/*portafolio */

.head {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #2196f3;
  line-height: 1.625;
}
.adolla-link2 {
  font-family: "Roboto";
  font-weight: 500;
  text-decoration: none;
  color: #212121;
}
.adolla-link1 {
  color: #2196f3;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.contacts {
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.product {
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.description {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.ul {
  list-style: none;
}
.button-a {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 26px;
  width: 73px;
  height: 38px;
  background: #2196f3;
  border-radius: 4px;
}
.button-b {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
  width: 128px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
}
.button-c {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
  width: 145px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
}
.button-d {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
  width: 103px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
}
.button-e {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
  width: 130px;
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
}
.button-a {
  cursor: pointer;

  background: #2196f3;
}
.button-a:hover {
  background: #2196f3;
  color: #ffffff;
}
.button-b {
  cursor: pointer;

  background: #f5f4fa;
}
.button-b:hover {
  background: #2196f3;
  color: #ffffff;
}
.button-c {
  cursor: pointer;

  background: #f5f4fa;
}
.button-c:hover {
  background: #2196f3;
  color: #ffffff;
}
.button-d {
  cursor: pointer;

  background: #f5f4fa;
}
.button-d:hover {
  background: #2196f3;
  color: #ffffff;
}
.button-e {
  cursor: pointer;

  background: #f5f4fa;
}
.button-e:hover {
  background: #2196f3;
  color: #ffffff;
}
